##############
# VS PROJECT #
##############

*.user
*.vcxproj
*.filters
*.sln
.vs/

*.dir/

[Bb]in/
x64/
x86/

#########
# CMAKE #
#########

*.cmake

CMakeCache.txt

CMakeFiles/
CMake/

##########
# ENGINE #
##########

[Ll]ogs/
[Ll]og/